﻿

<style>
    .sliderimg {
        opacity: 0.5;
        filter: alpha(opacity=40);
    }

        .sliderimg:hover {
            opacity: 1.0;
            filter: alpha(opacity=100);
        }
        .k-tabstrip .k-content.k-state-active {
            background-color: #fafafa;
            color: #444;
        }
</style>

<style>
    .CSSTableGenerator {
        margin: 0px;
        padding: 0px;
        width: 500px;
        box-shadow: 10px 10px 5px #888888;
        border: 1px solid #000000;
        -moz-border-radius-bottomleft: 0px;
        -webkit-border-bottom-left-radius: 0px;
        border-bottom-left-radius: 0px;
        -moz-border-radius-bottomright: 0px;
        -webkit-border-bottom-right-radius: 0px;
        border-bottom-right-radius: 0px;
        -moz-border-radius-topright: 0px;
        -webkit-border-top-right-radius: 0px;
        border-top-right-radius: 0px;
        -moz-border-radius-topleft: 0px;
        -webkit-border-top-left-radius: 0px;
        border-top-left-radius: 0px;
    }

        .CSSTableGenerator table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
        }

        .CSSTableGenerator tr:last-child td:last-child {
            -moz-border-radius-bottomright: 0px;
            -webkit-border-bottom-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        .CSSTableGenerator table tr:first-child td:first-child {
            -moz-border-radius-topleft: 0px;
            -webkit-border-top-left-radius: 0px;
            border-top-left-radius: 0px;
        }

        .CSSTableGenerator table tr:first-child td:last-child {
            -moz-border-radius-topright: 0px;
            -webkit-border-top-right-radius: 0px;
            border-top-right-radius: 0px;
        }

        .CSSTableGenerator tr:last-child td:first-child {
            -moz-border-radius-bottomleft: 0px;
            -webkit-border-bottom-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }

        .CSSTableGenerator tr:hover td {
        }

        .CSSTableGenerator tr:nth-child(odd) {
            background-color: #d8d7e8;
        }

        .CSSTableGenerator tr:nth-child(even) {
            background-color: #ffffff;
        }

        .CSSTableGenerator td {
            vertical-align: middle;
            border: 1px solid #000000;
            border-width: 0px 1px 1px 0px;
            text-align: center;
            padding: 7px;
             font-size: 11px;
            font-family: sans-serif;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.76);
        }

        .CSSTableGenerator tr:last-child td {
            border-width: 0px 1px 0px 0px;
        }

        .CSSTableGenerator tr td:last-child {
            border-width: 0px 0px 1px 0px;
        }

        .CSSTableGenerator tr:last-child td:last-child {
            border-width: 0px 0px 0px 0px;
        }

        .CSSTableGenerator tr:first-child td {
            background: -o-linear-gradient(bottom, #763cf2 5%, #f4f3f2 100%);
            background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #763cf2), color-stop(1, #f4f3f2) );
            background: -moz-linear-gradient( center top, #763cf2 5%, #f4f3f2 100% );
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#763cf2", endColorstr="#f4f3f2");
            background: -o-linear-gradient(top,#763cf2,f4f3f2);
            background-color: #763cf2;
            border: 0px solid #000000;
            text-align: center;
            border-width: 0px 0px 1px 1px;
            font-size: 14px;
            font-family: sans-serif;
            font-weight: 600;
            color: #ffffff;
        }

        .CSSTableGenerator tr:first-child:hover td {
            background: -o-linear-gradient(bottom, #763cf2 5%, #f4f3f2 100%);
            background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, rgba(54, 14, 191, 0.93)), color-stop(1, #f4f3f2) );
            background: -moz-linear-gradient( center top, #763cf2 5%, #f4f3f2 100% );
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#763cf2", endColorstr="#f4f3f2");
            background: -o-linear-gradient(top,#763cf2,f4f3f2);
            background-color: #763cf2;
        }

        .CSSTableGenerator tr:first-child td:first-child {
            border-width: 0px 0px 1px 0px;
        }

        .CSSTableGenerator tr:first-child td:last-child {
            border-width: 0px 0px 1px 1px;
        }

   
</style>
<style>

.k-button .k-image {
                    height: 30px;
                }
</style>




<script type="text/javascript">
        $(function () {

           // $('#units').hide();
            //$("#saveEstate").kendoButton({

            //    imageUrl: "../View/images/Folder.png"


            ////});
            //$("#saveUnit").kendoButton({
            //    imageUrl: "images/Folders.png"
            //});
            $("#currency").kendoNumericTextBox({
                format: "c"//,
                // decimals: 0
            });
            //$('#saveEstate').on("click", function (event) {
            //    $('#registration').fadeOut(700)
            //    $('#units').fadeIn(2000);
            //    // angular.element('#saveEstate').scope().saveEstate();
            //});
            //$("#file-5").fileinput({
            //    uploadUrl: '#', // you must set a valid URL here else you will get an error
            //    allowedFileExtensions: ['jpg', 'png', 'gif'],
            //    overwriteInitial: false,
            //    maxFileSize: 1000,
            //    maxFilesNum: 10,
            //    allowedFileTypes: ['image', 'video', 'flash'],
            //    slugCallback: function (filename) {
            //        return filename.replace('(', '_').replace(']', '_');
            //    }
            //});
            //$(".btn-warning").on('click', function () {
            //    if ($('#file-5').attr('disabled')) {
            //        $('#file-5').fileinput('enable');
            //    } else {
            //        $('#file-5').fileinput('disable');
            //    }
            //});
            //$(".btn-info").on('click', function () {
            //    $('#file-5').fileinput('refresh', { previewClass: 'bg-info' });
            //});
            //$("#file-6").fileinput({
            //    uploadUrl: '#', // you must set a valid URL here else you will get an error
            //    allowedFileExtensions: ['jpg', 'png', 'gif'],
            //    overwriteInitial: false,
            //    maxFileSize: 1000,
            //    maxFilesNum: 10,
            //    allowedFileTypes: ['image', 'video', 'flash'],
            //    slugCallback: function (filename) {
            //        return filename.replace('(', '_').replace(']', '_');
            //    }
            //});

            //$(".btn-warning").on('click', function () {
            //    if ($('#file-6').attr('disabled')) {
            //        $('#file-6').fileinput('enable');
            //    } else {
            //        $('#file-6').fileinput('disable');
            //    }
            //});
            //$(".btn-info").on('click', function () {
            //    $('#file-6').fileinput('refresh', { previewClass: 'bg-info' });


            //});
        });
</script>
<div ng-show="estateRegistration">
    <div id="estate">
        <div id="registration">
            <div class="estateentries-section k-header">
                <div style="background-color:beige;">
                    <div kendo-tab-strip k-content-urls="[ null, null]">
                        <ul>
                            <li class="k-state-active">Estate Information</li>
                            <li>Estate Features</li>
                            <li>Estate Nearby Facilities</li>
                            <li>Image and Video</li>
                            <li>Units Information</li>
                        </ul>
                        <div>
                            <!--style="padding: 1em;background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #00A3EF 100%);">-->
                            <table class="table" style="width:auto">
                                <tr style="width:200px;">
                                    <td>
                                        <label title="Country" class="title">Country:</label><br />
                                        <select id="selection" ng-model="country" ng-options="country.name for country in countries" class="custom-combobox-input" ng-change="countrySelected(country.id)"></select><br />
                                        <label title="Estate's Country" class="title">State:</label><br />
                                        <select id="selection" ng-model="state" ng-options="state.name for state in states" class="custom-combobox-input" ng-change="stateSelected(state.id)"></select><br />
                                        <label title="City" class="title">City:</label><br />
                                        <select id="selection" ng-model="city" ng-options="city.name for city in cities" class="custom-combobox-input" ng-change="citySelected(city.id)"></select><br />
                                        <label title="City's District" class="title">District:</label><br />
                                        <select id="selection" ng-model="district" ng-options="district.name for district in districts" class="custom-combobox-input" ng-change="districtSelected(district.id)"></select><br />

                                    </td>
                                    <td>
                                        <label title="Estate's Street" class="title">Street:</label><br />
                                        <input type="text" name="street" value="" ng-model="street" /><br />
                                        <label title="Estate's Number">Number:</label><br />
                                        <input type="text" name="number" value="" ng-model="number" /><br />
                                        <label title="Postal Code">PostalCode:</label><br />
                                        <input type="text" name="Zip Code" value="" ng-model="postalcode" />
                                    </td>
                                    <td>
                                        <label title="Bace Price">Base Price:</label><br />
                                        <!--<input type="text" name="Base Price" value="" ng-model="basePrice" />-->
                                        <input id="currency" type="number" value="600000" min="0" max="20000000" ng-model="baseprice" class="k-primary" /><br />
                                        <label title="Estate's Type" class="title">Selling Type:</label><br />
                                        <select id="selection" ng-model="sellingOfferType" ng-options="sellingOfferType.type for sellingOfferType in sellingOfferTypes" class="custom-combobox-input"></select><br />


                                    </td>
                                </tr>
                                <tr style="width:200px;">
                                    <td style="padding-right: 75px;">
                                        <label title="Estate's Type" class="title">Estate Type:</label><br />
                                        <select id="selection" ng-model="estateType" ng-options="estateType.type for estateType in estateTypes" class="custom-combobox-input" ng-change="estateTypeSelected(estateType.id)"></select><br />
                                    </td>
                                    <td style="padding-right: 75px;">
                                        <label for="age" class="required">Age:{{age}}</label>
                                        <div class="box-col">
                                            <div kendo-slider k-min="0" k-max="100" ng-model="age"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <label title="Renovation Date" class="title">Renovation Date:</label><br />
                                        <input kendo-date-picker ng-model="renewDate" k-ng-model="renewDateObject" ng-change="renewDateSelected(renewDate)" />
                                    </td>
                                </tr>
                                <tr style="width:200px;"></tr>

                            </table>
                            <div>
                                <table>
                                    <tr>
                                        <td style="padding-right: 100px;">
                                            <label title="Extra Information" class="title">Estate Description:</label><br />

                                            <textarea id="container" ng-model="estateExtraInfo" rows="5" cols="25"></textarea>
                                        </td>

                                        <td>
                                            <label title="Extra Information" class="title">Selling Description:</label><br />
                                            <textarea id="container2" ng-model="sellingExtraInfo" rows="5" cols="25"></textarea>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div id="features">
                            <br />
                            <input type="button" name="Addf" value="Add Feature" ng-click="openNew()" class="k-primary" />
                            <div class="CSSTableGenerator">
                                <table>
                                    <tr>
                                        <td>
                                            Feature
                                        </td>
                                        <td>
                                            Quantity
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr ng-repeat="f in featurestmp ">
                                        <td contenteditable>{{f.featureType.type}}</td>
                                        <td contenteditable>{{f.quantity}}</td>
                                        <td style="width:25px;">
                                            <input type="button" name="Deletef" value="Delete" ng-click="DeletefRow(f);" class="k-primary" />
                                        </td>
                                    </tr>

                                </table>

                                <script type="text/ng-template" id="myModalContent.html">
                                    <div class="modal-header">
                                        <h3 class="modal-title">Type Manager</h3>
                                    </div>
                                    <div class="modal-body">

                                        <label title="Feature Type">Quantity:</label><br />
                                        <input type="text" name="name" value=" " ng-model="featuerQ" /><br />
                                        <label title="Feature Type">Feature:</label><br />
                                        <select ng-model="featureType" ng-options="featureType.type for featureType in featureTypes" class="k-primary"></select><br />

                                    </div>
                                    <div class="modal-footer">
                                        <!--<button class="btn btn-primary" ng-click="ok()">OK</button>-->
                                        <input type="button" name="save" value="Save" ng-click="ok(featureType ,featuerQ)" class="k-primary" />

                                        <!--<button class="btn btn-warning" ng-click="cancel()">Cancel</button>-->
                                        <input type="button" name="cancle" value="Cancel" ng-click="cancel()" class="k-primary" />

                                    </div>
                                </script>
                            </div>

                            <br />
                        </div>
                        <div id="nearby">
                            <br />
                            <input type="button" name="Addn" value="Add Nearby Facility" ng-click="openNewNearby()" class="k-primary" />
                            <div class="CSSTableGenerator">
                                <table>
                                    <tr>
                                        <td>
                                            Nearby Facility
                                        </td>
                                        <td>
                                            Unit
                                        </td>
                                        <td>
                                            Value
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr ng-repeat="n in nearbytmp ">
                                        <td contenteditable>{{n.facilityType.type}}</td>
                                        <td contenteditable>{{n.value}}</td>
                                        <td contenteditable>{{n.unit}}</td>
                                        <td style="width:25px;">
                                            <input type="button" name="Deletef" value="Delete" ng-click="DeletenRow(n);" class="k-primary" />
                                        </td>
                                    </tr>

                                </table>

                                <script type="text/ng-template" id="myModalNContent.html">
                                    <div class="modal-header">
                                        <h3 class="modal-title">Type Manager</h3>
                                    </div>
                                    <div class="modal-body">

                                        <label title="Value like distance etc..">Value:</label><br />
                                        <input type="text" name="name" value=" " ng-model="value" /><br />
                                        <label title="Unit of Value">Unit:</label><br />
                                        <input type="text" name="name" value=" " ng-model="unit" /><br />
                                        <label title="Nearby Type">Nearby Facility:</label><br />
                                        <select ng-model="nearbyType" ng-options="nearbyType.type for nearbyType in facilityTypes" class="k-primary"></select><br />

                                    </div>
                                    <div class="modal-footer">
                                        <!--<button class="btn btn-primary" ng-click="ok()">OK</button>-->
                                        <input type="button" name="save" value="Save" ng-click="okN(nearbyType ,value, unit)" class="k-primary" />

                                        <!--<button class="btn btn-warning" ng-click="cancel()">Cancel</button>-->
                                        <input type="button" name="cancle" value="Cancel" ng-click="cancelN()" class="k-primary" />

                                    </div>
                                </script>
                            </div>

                            <br />

                        </div>
                        <div id="images" class="container kv-main">
                            <br />
                            <input type="button" name="AddestateImage" value="Add Image" ng-click="openNewEstateImage()" class="k-primary" />
                            <div class="CSSTableGenerator">
                                <table style="align-content:center; vertical-align:central;  text-align: center;">
                                    <tr>
                                        <td style="width:150px;">
                                            Images
                                        </td>
                                        <td>
                                            Type
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr ng-repeat="im in estateImages ">
                                        <td contenteditable>
                                            <img ng-if="im.image" src="{{im.image}}" class=" img-circle img-thumbnail" alt="Cinque Terre" width="70" height="40">

                                        </td>
                                        <td>
                                            <label>{{im.type.type}}</label>
                                        </td>

                                        <td>
                                            <!---->
                                            <input type="button" name="ShowI" value="Show" ng-click="showEstateImage(im.image);" class="k-primary" />
                                        </td>
                                        <td>
                                            <!---->
                                            <input type="button" name="DeleteI" value="Delete" ng-click="deleteEstateImage(im);" class="k-primary" />
                                        </td>
                                    </tr>

                                </table>

                                <script type="text/ng-template" id="myModalEstateImageContent.html">
                                    <div class="modal-header">
                                        <h3 class="modal-title">Image</h3>
                                    </div>
                                    <div class="modal-body">
                                        <img src="{{image}}" style="max-width: 700px; max-height:600px">

                                    </div>
                                    <div class="modal-footer">

                                    </div>
                                </script>

                                <script type="text/ng-template" id="myModalAddEstateImageContent.html">
                                    <div class="modal-header">
                                        <h3 class="modal-title">Add Image</h3>
                                    </div>
                                    <div class="modal-body">
                                        <form action="">
                                            <input my-upload type="file" name="upload" class="k-primary"><br />
                                            <laba>Image Type:</laba>&nbsp
                                            <select ng-model="estateimageType" ng-options="estateimageType.type for estateimageType in imageTypes" class="k-primary" ng-change="okEstateImage(estateimageType)"></select><br />
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                    </div>

                                </script>
                            </div>
                            <br />
                        </div>
                        <br />
                        <div id="units" class="container kv-main">
                            <br />
                            <input type="button" name="AddUnit" value="Add Unit" ng-click="openNewUnit()" class="k-primary" />
                            <div class="CSSTableGenerator">
                                <table style="align-content:center; vertical-align:central;  text-align: center;">
                                    <tr>
                                        <td style="width:150px;">
                                            Floor
                                        </td>
                                        <td>
                                            Unit
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr ng-repeat="u in units">
                                        <td contenteditable>
                                            <label>{{u.floornumber}}</label>
                                        </td>
                                        <td>
                                            <label>{{u.unitnumber}}</label>
                                        </td>

                                        <td>
                                            <!---->
                                            <input type="button" name="EditU" value="Edit" ng-click="editUnit(u.index);" class="k-primary" />
                                        </td>
                                        <td>
                                            <!---->
                                            <input type="button" name="DeleteU" value="Delete" ng-click="deleteUnit(u);" class="k-primary" />
                                        </td>
                                    </tr>

                                </table>

                                <script type="text/ng-template" id="myModalAddUnitContent.html">

                                    <div class="modal-header">
                                        <h3 class="modal-title">Add Unit</h3>
                                    </div>
                                    <div class="modal-body estateentries-section k-header">

                                        <div style="background-color:beige;">
                                            <div kendo-tab-strip k-content-urls="[ null, null]">
                                                <ul>
                                                    <li class="k-state-active">Unit Information</li>
                                                    <li>Unit Pieces</li>
                                                    <li>Unit Appliance</li>
                                                    <li>Image and Video</li>
                                                </ul>
                                                <div>
                                                    <!--style="padding: 1em;background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #00A3EF 100%);">-->
                                                    <table class="table" style="width:auto">
                                                        <tr style="width:200px;">
                                                            <td>
                                                                <label title="Unit's Number">Number:</label><br />
                                                                <input type="text" name="number" value="" ng-model="unitnumber" /><br />
                                                                <label title=floor's number">Floor Number:</label><br />
                                                                <input type="text" name="number" value="" ng-model="floornumber" />
                                                            </td>

                                                        </tr>

                                                        <tr style="width:200px;">
                                                            <td>
                                                                <label title="Renovation Date" class="title">Internal Renovation Date:</label><br />
                                                                <input kendo-date-picker ng-model="unitRenewDate" k-ng-model="renewDateObject" ng-change="unitRenewDateSelected(unitRenewDate)" />
                                                            </td>

                                                        </tr>

                                                    </table>
                                                    <div>
                                                        <label title="Extra Information" class="title">Description:</label><br />

                                                        <textarea id="container" ng-model="unitExtraInfo" rows="5" cols="25"></textarea>
                                                    </div>
                                                </div>
                                                <div id="piece">
                                                    <br />
                                                    <input type="button" ng-show="addButtonShow" name="AddPiece" value="Add Piece" ng-click="openNewPiece()" class="k-primary" />
                                                    <input type="button" ng-show="saveButtonShow" name="SavePiece" value="Save Piece" ng-click="SaveNewPiece(pieceType, pieceExtraInfo, pieceQ)" class="k-primary" />
                                                    <div ng-show="piecevisible">
                                                        <label title="Piece Quantity">Quantity:</label><br />
                                                        <input type="text" name="name" value=" " ng-model="pieceQ" /><br />
                                                        <label title="Piece Type">Piece:</label><br />
                                                        <select ng-model="pieceType" ng-options="pieceType.type for pieceType in pieceTypes" class="k-primary"></select><br />
                                                        <div>
                                                            <label title="Extra Information" class="title">Description:</label><br />
                                                            <textarea id="container" ng-model="pieceExtraInfo" rows="5" cols="25"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="CSSTableGenerator">
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    Piece
                                                                </td>
                                                                <td>
                                                                    Quantity
                                                                </td>
                                                                <td>
                                                                    Description
                                                                </td>
                                                                <td></td>
                                                            </tr>
                                                            <tr ng-repeat="p in piecetmp">
                                                                <td contenteditable>{{p.pieceType.type}}</td>
                                                                <td contenteditable>{{p.pieceQ}}</td>
                                                                <td contenteditable>{{p.pieceExtraInfo}}</td>
                                                                <td style="width:25px;">
                                                                    <input type="button" name="Deletep" value="Delete" ng-click="DeletepRow(p);" class="k-primary" />
                                                                </td>
                                                            </tr>

                                                        </table>
                                                    </div>
                                                    <br />
                                                </div>
                                                <div id="appliance">
                                                    <br />
                                                    <input type="button" ng-show="addApplianceButtonShow" name="AddAppliance" value="Add Appliance" ng-click="openNewAppliance()" class="k-primary" />
                                                    <input type="button" ng-show="saveApplianceButtonShow" name="SaveAppliance" value="Save Appliance" ng-click="SaveNewAppliance(applianceType, applianceExtraInfo, applianceQ)" class="k-primary" />
                                                    <div ng-show="appliancevisible">
                                                        <label title="Appliance Quantity">Quantity:</label><br />
                                                        <input type="text" name="name" value=" " ng-model="applianceQ" /><br />
                                                        <label title="Appliance Type">Appliance:</label><br />
                                                        <select ng-model="applianceType" ng-options="applianceType.type for applianceType in applianceTypes" class="k-primary"></select><br />
                                                        <div>
                                                            <label title="Appliance Information" class="title">Description:</label><br />
                                                            <textarea id="container" ng-model="applianceExtraInfo" rows="5" cols="25"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="CSSTableGenerator">
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    Appliance
                                                                </td>
                                                                <td>
                                                                    Quantity
                                                                </td>
                                                                <td>
                                                                    Description
                                                                </td>
                                                                <td></td>
                                                            </tr>
                                                            <tr ng-repeat="a in appliancetmp">
                                                                <td contenteditable>{{a.applianceType.type}}</td>
                                                                <td contenteditable>{{a.applianceQ}}</td>
                                                                <td contenteditable>{{a.applianceExtraInfo}}</td>
                                                                <td style="width:25px;">
                                                                    <input type="button" name="Deletea" value="Delete" ng-click="DeleteaRow(a);" class="k-primary" />
                                                                </td>
                                                            </tr>

                                                        </table>
                                                    </div>
                                                    <br />
                                                </div>
                                                <div>
                                                    <div id="unitimage">
                                                        <br />
                                                        <input type="button" ng-show="addUnitImageButtonShow" name="AddUnitImage" value="Add Image" ng-click="openNewUnitImage()" class="k-primary" />
                                                        <input type="button" ng-show="saveUnitImageButtonShow" name="SaveUnitImage" value="Save Image" ng-click="SaveNewUnitImage()" class="k-primary" />
                                                        <div ng-show="unitimagevisible">

                                                            <form action="">
                                                                <input myunit-upload id="unitimagepicker" type="file" name="upload" class="k-primary"><br />
                                                                <laba>Image Type:</laba>&nbsp
                                                                <select ng-model="unitimageType" ng-options="unitimageType.type for unitimageType in imageTypes" class="k-primary" ng-change="okUnitImage(unitimageType)"></select><br />
                                                            </form>

                                                        </div>
                                                        <div class="CSSTableGenerator">
                                                            <table style="align-content:center; vertical-align:central;  text-align: center;">
                                                                <tr>
                                                                    <td style="width:150px;">
                                                                        Images
                                                                    </td>
                                                                    <td>
                                                                        Type
                                                                    </td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr ng-repeat="um in unitImagetmp ">
                                                                    <td contenteditable>
                                                                        <img ng-if="um.image" src="{{um.image}}" class=" img-circle img-thumbnail" alt="Cinque Terre" width="70" height="40">

                                                                    </td>
                                                                    <td>
                                                                        <label>{{um.type.type}}</label>
                                                                    </td>

                                                                    <td>
                                                                        <!---->
                                                                        <input type="button" name="ShowI" value="Show" ng-click="showUnitImage(um);" class="k-primary" />
                                                                    </td>
                                                                    <td>
                                                                        <!---->
                                                                        <input type="button" name="DeleteI" value="Delete" ng-click="deleteUnitImage(um);" class="k-primary" />
                                                                    </td>
                                                                </tr>

                                                            </table>

                                                        </div>
                                                        <br />
                                                        <div ng-show="slidervisible" id="nav-arrows" style="width:600px; height:500px;">
                                                            <div style="text-align:center">
                                                                <img ng-click="showPrev()" src="../View/images/prev.png" />

                                                                <img ng-click="showNext()" src="../View/images/next.png" />
                                                            </div>
                                                            <div style="display:table-cell;vertical-align:middle;width:600px; height:500px;">
                                                                <img ng-if="sliderImage" src="{{sliderImage}}" style="width: 600px; max-height:500px" class="animated fadeIn" />

                                                            </div>


                                                        </div>
                                                        <br />
                                                    </div>
                                                    <br />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <!--<!--<button class="btn btn-primary" ng-click="ok()">OK</button>-->
                                        <input type="button" name="save" value="Save" ng-click="okU()" class="k-primary" />

                                        <!--<button class="btn btn-warning" ng-click="cancel()">Cancel</button>-->
                                        <input type="button" name="cancle" value="Cancel" ng-click="cancelU()" class="k-primary" />

                                    </div>

                                </script>
                            </div>
                            <br />
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <!--<button type="button" id="saveEstate" ng-click="saveEstate">Save Estate</button>-->
        <button type="button" id="saveEstate" ng-click="saveEstate()" class="k-button">Save Estate</button>
    </div>
</div>
<div ng-show="saveResult">
    <p> Your Estate Information is registered now.<br />
        Your Track Id is : {{sellingOfferTrackId}} <br />
        The track Id also is sent to your email Address.
    </p>
</div>
<script type="text/ng-template" id="myModalPieceContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Piece Manager</h3>
    </div>
    <div class="modal-body">

        <label title="Piece Quantity">Quantity:</label><br />
        <input type="text" name="name" value=" " ng-model="pieceQ" /><br />
        <label title="Piece Type">Piece:</label><br />
        <select ng-model="pieceType" ng-options="pieceType.type for pieceType in pieceTypes" class="k-primary"></select><br />
        <div>
            <label title="Extra Information" class="title">Description:</label><br />

            <textarea id="container" ng-model="pieceExtraInfo" rows="5" cols="25"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <!--<button class="btn btn-primary" ng-click="ok()">OK</button>-->
        <input type="button" name="save" value="Save" ng-click="ok(pieceType ,pieceQ)" class="k-primary" />

        <!--<button class="btn btn-warning" ng-click="cancel()">Cancel</button>-->
        <input type="button" name="cancle" value="Cancel" ng-click="cancel()" class="k-primary" />

    </div>
</script>
<style>
    .estateentries-section {
        width: 750px;
    }
</style>


