﻿<style>
    .CSSTableGenerator2 {
        margin: 0px;
        padding: 0px;
        width: 500px;
        box-shadow: 10px 10px 5px #888888;
        border: 1px solid #000000;
        -moz-border-radius-bottomleft: 0px;
        -webkit-border-bottom-left-radius: 0px;
        border-bottom-left-radius: 0px;
        -moz-border-radius-bottomright: 0px;
        -webkit-border-bottom-right-radius: 0px;
        border-bottom-right-radius: 0px;
        -moz-border-radius-topright: 0px;
        -webkit-border-top-right-radius: 0px;
        border-top-right-radius: 0px;
        -moz-border-radius-topleft: 0px;
        -webkit-border-top-left-radius: 0px;
        border-top-left-radius: 0px;
    }

        .CSSTableGenerator2 table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
        }

        .CSSTableGenerator2 tr:last-child td:last-child {
            -moz-border-radius-bottomright: 0px;
            -webkit-border-bottom-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        .CSSTableGenerator2 table tr:first-child td:first-child {
            -moz-border-radius-topleft: 0px;
            -webkit-border-top-left-radius: 0px;
            border-top-left-radius: 0px;
        }

        .CSSTableGenerator2 table tr:first-child td:last-child {
            -moz-border-radius-topright: 0px;
            -webkit-border-top-right-radius: 0px;
            border-top-right-radius: 0px;
        }

        .CSSTableGenerator2 tr:last-child td:first-child {
            -moz-border-radius-bottomleft: 0px;
            -webkit-border-bottom-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }

        .CSSTableGenerator2 tr:hover td {
        }

        .CSSTableGenerator2 tr:nth-child(odd) {
            background-color: #d8d7e8;
        }

        .CSSTableGenerator2 tr:nth-child(even) {
            background-color: #ffffff;
        }

        .CSSTableGenerator2 td {
            vertical-align: middle;
            border: 1px solid #000000;
            border-width: 0px 1px 1px 0px;
            text-align: center;
            padding: 7px;
            font-size: 11px;
            font-family: sans-serif;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.76);
        }

        .CSSTableGenerator2 tr:last-child td {
            border-width: 0px 1px 0px 0px;
        }

        .CSSTableGenerator2 tr td:last-child {
            border-width: 0px 0px 1px 0px;
        }

        .CSSTableGenerator2 tr:last-child td:last-child {
            border-width: 0px 0px 0px 0px;
        }

        .CSSTableGenerator2 tr:first-child td {
            background: -o-linear-gradient(bottom, #763cf2 5%, #f4f3f2 100%);
            background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, rgba(54, 14, 191, 0.93)), color-stop(1, #f4f3f2) );
            background: -moz-linear-gradient( center top, #763cf2 5%, #f4f3f2 100% );
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#763cf2", endColorstr="#f4f3f2");
            background: -o-linear-gradient(top,#763cf2,f4f3f2);
            background-color: #763cf2;
            border: 0px solid #000000;
            text-align: center;
            border-width: 0px 0px 1px 1px;
            font-size: 14px;
            font-family: sans-serif;
            font-weight: 600;
            color: #ffffff;
        }

        .CSSTableGenerator2 tr:first-child:hover td {
            background: -o-linear-gradient(bottom, #763cf2 5%, #f4f3f2 100%);
            background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #763cf2), color-stop(1, #f4f3f2) );
            background: -moz-linear-gradient( center top, #763cf2 5%, #f4f3f2 100% );
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#763cf2", endColorstr="#f4f3f2");
            background: -o-linear-gradient(top,#763cf2,f4f3f2);
            background-color: #763cf2;
        }

        .CSSTableGenerator2 tr:first-child td:first-child {
            border-width: 0px 0px 1px 0px;
        }

        .CSSTableGenerator2 tr:first-child td:last-child {
            border-width: 0px 0px 1px 1px;
        }

    .k-button .k-image {
        height: 30px;
    }
</style>

<style>
   
    .my-class .modal-body {
        background-color: #eee;
    }

    .my-class .modal-footer {
        margin-top: 0;
    }
</style>

<style>
    .ng-invalid {
    border-color: red;
    outline-color: red;
}

.ng-valid {
    border-color: green;
    outline-color: green;
}

.messages {
  font-size: smaller;
  padding-top: 5px;
  padding-bottom: 10px;
  color: red;
}

.k-tabstrip .k-content.k-state-active {
    background-color: #fafafa;
    color: #444;
}

.k-button .k-image {
                    height: 16px;
                }
</style>
<script>
    $("#imageButton").kendoButton({
        
        imageUrl: "../View/images/refresh.png"


    });
</script>


<div id="registration">
    <div class="estateentries-section k-header">
        <div style="background-color:beige;">
            <div kendo-tab-strip k-content-urls="[ null, null]">
                <ul>
                    <li class="k-state-active">Type</li>
                    <li>Location</li>
                    <li>Email</li>
                    <li>Offers</li>
                </ul>
                <div id="typeManagement">
                    <div>
                        <label>Please Select your Type</label>
                        <br />

                        <select id="selection" ng-model="selectedType" class="k-primary" ng-change="selectType(selectedType)">
                            <option value="ImageType">Image Type</option>
                            <option value="EstateType">Estate Type</option>
                            <option value="ApplianceType">Appliance Type</option>
                            <option value="EstateFeatureType">Estate Feature Type</option>
                            <option value="EstateType">Estate Type</option>
                            <option value="FacilityType">Facility Type</option>
                            <option value="PieceType">Piece Type</option>
                            <option value="SellingOfferType">Selling Offer Type</option>
                        </select>
                    </div>
                    <h1></h1>
                    <br />
                    <div ng-show="trypegrid">
                      
                        <input id="create-user" type="button" name="Add" value="Add" ng-click="openNew(selectedType)" class="k-primary" style="width:100px;" />
                        <!--<input type="button" name="refresh" value=""  style="background-image:url(../View/images/refresh.png); height:20px;width:20px;" />-->
                       
                        <!--<img src="../View/images/refresh.png" alt="refresh" ng-click="RefreshtypeGrid(selectedType)" />-->
                       
                        filter: <input type="text" ng-model="customerFilter.type" />
                        <br />

                        <div class="CSSTableGenerator2">
                            <table>

                                <tr>
                                    <td ng-click="doSort('id')">Id</td>
                                    <td ng-click="doSort('type')">Type Name</td>
                                    <td><button id="imageButton" class="k-button" ng-click="RefreshtypeGrid(selectedType)"></button></td>
                                    <td></td>

                                </tr>

                                <tr ng-repeat="customer in customers | filter: customerFilter|  orderBy:sortBy:reverse">
                                    <td>
                                        <label>{{customer.id}} </label>
                                    </td>
                                    <td contenteditable>
                                        <label>{{customer.type}}</label>
                                    </td>
                                    <td>
                                        <input id="create-user" type="button" name="Edit" value="Edit" ng-click="open(customer.type,customer.id)" class="k-primary" />
                                    </td>
                                    <td>
                                        <input type="button" name="Delete" value="Delete" ng-click="DeleteRow($index, customer.id);" class="k-primary" />

                                    </td>

                                </tr>
                            </table>

                        </div>

                    </div>
                </div>
                <div id="location">

                </div>
                <div id="email">

                    <form name="registrationForm" novalidate
                          ng-submit="" ng-show="mailsenderdiv">
                        <div class="form-group">
                            <label>Email Address</label>
                            <input type="text" name="email" class="form-control" ng-model="email" required style="width:250px"/>
                            {{email}}@gmail.com
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" ng-model="password" required style="width:250px"/>
                        </div>
                       
                        <div class="form-group">
                            <button type="submit" class="k-primary" ng-click="mailSender()" style="width:100px; height:40px;">Submit</button>
                        </div>
                    </form> 
                    <div ng-show="messagediv1"><p>information is saved</p></div>

                </div>
                <div id="offers">
                    <form name="registrationForm" novalidate
                          ng-submit="" ng-show="serverInfodiv">
                        <div class="form-group">
                            <label>Offer Expiry</label><br />
                            <input id="currency" type="number" value="3" min="1" max="90" ng-model="offerExpiry" class="k-primary" /><br />
                        </div>
                        <div class="form-group">
                            <label>Selling Offer Expiry</label><br />
                            <input id="currency" type="number" value="15" min="1" max="90" ng-model="sellingExpiry" class="k-primary" /><br />
                        </div>

                        <div class="form-group">
                            <button type="submit" class="k-primary" ng-click="offersSetter()" style="width:100px; height:40px;">Submit</button>
                        </div>
                    </form> 
                    <div ng-show="messagediv2"><p>information is saved</p></div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Type Manager</h3>
        </div>
        <div class="modal-body">
            <input type="text" name="name" value="{{customerType}}" ng-model="customerType" /><br />

            Selected: <b>{{ customerType }}</b>
        </div>
        <div class="modal-footer">
            <!--<button class="btn btn-primary" ng-click="ok()">OK</button>-->
            <input type="button" name="save" value="Save" ng-click="ok()" class="k-primary" />

            <!--<button class="btn btn-warning" ng-click="cancel()">Cancel</button>-->
            <input type="button" name="cancle" value="Cancel" ng-click="cancel()" class="k-primary" />

        </div>
    </script>

